<%- include ('templates/header'); -%>

<div class='container'>
	<div class='jumbotron'>
		<h1> Admin Login</h1>
		
		<!-- Modal -->
		<button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal">HINT</button>
		<p></p>
		<div id="myModal" class="modal fade" role="dialog">
		<div class="modal-dialog">
		<!-- Modal content-->
    		<div class="modal-content">
    		<div class="modal-header">
        		<button type="button" class="close" data-dismiss="modal">&times;</button>
        		<h4 class="modal-title">Hint</h4>
    		</div>
    		<div class="modal-body">
        		<p>USERNAME: admin</p>
        		<p>PASSWORD: admin</p>
    		</div>
    		<div class="modal-footer">
        		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    		</div>
    		</div>
		</div>
		</div>
		
		
		<form action='/login' method='POST'>
			<div class='form-group row'>
				<label for='firstname' class='col-sm-4 col-form-label'>Username</label>
				<div class='col-sm-4'>
					<input type='text' class='form-control' id='username' name='username' placeholder='username' required>
				</div>
			</div>
			<div class='form-group row'>
				<label for='lastname' class='col-sm-4 col-form-label'>Password</label>
				<div class='col-sm-4'>
					<input type='password' class='form-control' id='password' name='password' placeholder='password' type='password' required>
				</div>
			</div>
			<div class='form-group row'>
				<div class='col-sm-4'></div>
				<div class='col-sm-4'>
					<button class='btn btn-primary btn-block'>Login</button>
					<%if(loginError){%>
			            <h1 class='col-sm-12 notfound'>Incorrect Credentials!</h1>
			        <%}%>
				</div>
				<div class='col-sm-4'></div>
			</div>
		</form>
	</div>
</div>

<%- include ('templates/footer'); -%>